[
  {rabbit,
    [
      {loopback_users, []},                           %% Allow remote access to management UI
      {vm_memory_high_watermark, 0.7},                %% Use 70% of available RAM
      {disk_free_limit, {mem_relative, 2.0}},         %% Requires at least 2x RAM in disk space
      {hipe_compile, true}                            %% Optional: native code compilation (Erlang)
    ]
  },
  {rabbitmq_management,
    [
      {load_definitions, "/etc/rabbitmq/definitions.json"}
    ]
  }
].
